<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard </a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Extras
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.history"><i class="icon-graph"></i> Trade History </a>
            </li>
        </ul>
    </nav>
</div>
